/*
*
* Toggle-switch
*
*/
@use "../abstracts/" as a;

.toggle-switch {
  display: flex;
  align-items: center;
  gap: var(--spacing-300);

  &__button {
    display: block;
    position: relative;
    inline-size: a.rem(40px);
    block-size: a.rem(20px);
    background-color: var(--clr-secondary);
    border-radius: var(--radius-125);
    cursor: pointer;

    transition: box-shadow var(--transition-primary),
      background-color var(--transition-primary);
  }

  &__button::before {
    content: "";
    position: absolute;
    inline-size: a.rem(14px);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--clr-neutral-0);

    inset-block-start: 50%;
    transform: translateY(-50%);

    inset-inline-start: a.rem(4px);

    transition: inset-inline-start var(--transition-primary);
  }

  &__button:has(input:checked) {
    background-color: var(--clr-accent);
  }

  &__button:has(input:checked)::before {
    inset-inline-start: calc(100% - a.rem(14px) - a.rem(4px));
  }

  &__button:has(input:checked) ~ &__icon svg {
    color: var(--clr-accent);
  }

  &__button:has(input:focus-visible) {
    box-shadow: var(--focus-primary);
  }

  &__button input {
    appearance: none;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    inline-size: a.rem(20px);

    svg {
      aspect-ratio: 1;
      color: var(--clr-secondary);
      transition: color var(--transition-primary);
    }
  }
}
