/*
*
*   Utilities
*
*/

// Font families
.u-font-sans-serif {
  font-family: var(--font-sans-serif);
}
.u-font-serif {
  font-family: var(--font-serif);
}
.u-font-mono {
  font-family: var(--font-mono);
}

// Colors
.u-clr-accent {
  color: var(--clr-accent);
}

.u-clr-secondary {
  color: var(--clr-secondary);
}

// Font weight
.u-fw-bold {
  font-weight: var(--fw-bold);
}

// Dividers
.u-vertical-divider {
  align-self: stretch;
  inline-size: 1px;
  background-color: var(--clr-tertiary);
}
