/*
*
* Typography
*
*/
@use "../abstracts/" as a;

body {
  color: var(--clr-primary);
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-style: normal;

  font-size: var(--body-m);
  line-height: 1.5;
  font-weight: var(--fw-regular);
}

.text-preset-1 {
  font-size: var(--heading-l);
  font-weight: var(--fw-bold);
  line-height: 1.2;
}

.text-preset-2 {
  font-size: var(--heading-m);
  line-height: 1.2;
  font-weight: var(--fw-regular);

  &--bold {
    font-weight: var(--fw-bold);
  }
}

.text-preset-3 {
  font-size: var(--heading-s);
  line-height: 1.2;
  font-weight: var(--fw-regular);

  &--bold {
    font-weight: var(--fw-bold);
  }
}

.text-preset-4 {
  font-size: var(--body-m);
  line-height: 1.5;
  font-weight: var(--fw-regular);

  &--bold {
    font-weight: var(--fw-bold);
  }
}

.text-preset-5 {
  font-size: var(--body-s);
  line-height: 1.2;
  font-weight: var(--fw-regular);
  text-decoration: var(--font-decoration);
}
